@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
p {
  font-family: 'Nunito', sans-serif;

}
.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.p-projects{
  font-size: 18px;
  color: #4D5053;
  

}



body {
  overflow: hidden auto;
}

.Home-app {

}
.nav-text{
  color: brown;
}

.nav-text:hover{
  color: blue;
  font-size: '40px';
}

.intro-text {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000;
}


.intro-div {
  background: url(../src/assets/background2.jpg);
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavBar-Component {
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
